/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* league-spartan-500 - latin */

@font-face {
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 500;
    src: local(""),
        url("../fonts/league-spartan-v5-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/league-spartan-v5-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

  /* league-spartan-700 - latin */

@font-face {
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    src: local(""),
        url("../fonts/league-spartan-v5-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/league-spartan-v5-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --text-color: #000;
    --global-border-radius: 5px;
    --global-color: #5CA5A5;
    --main-font-weight: 700;
    --font-weight: 500;
    --main-font-size: 18px;
    --global-font-size: 15px;
    --font-size-14: 14px;
    --font-size-13: 13px;
    --back-color: #7C8F8F;
    --featured-color: #2B3939;
    --color-white: #fff;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: #ECF7F7;
    margin: 0;
    padding: 0;
    font-family: "League Spartan", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-main {
    background-image: url("../images/hero-big-img.jpg");
    width: 100%;
    height: 156px;
}

.main-boxes {
    padding-top: 232px;
}

.main-box-one {
    width: 1100px;
    height: 152px;
    background-color: var(--color-white);
    padding: 32px 40px;
    margin: 0;
    -webkit-box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
            box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
    border-radius: var(--global-border-radius);
    border-left: 5px solid transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main-box-one:hover {
    border-left: 5px solid var(--global-color);
}

.contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.img-box img {
    margin-right: 24px;
}

.main-box-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.content-top h3 {
    font-size: var(--font-size-14);
    font-weight: var(--main-font-weight);
    color: var(--global-color);
    margin: 0;
    padding: 0;
    margin-right: 16px;
}

.content-left {
    margin-left: 0;
}

.new a {
    padding: 6px 8px;
    background-color: var(--global-color);
    color: var(--color-white);
    border-radius: 12px;
    font-size: 11px;
}

.feature a {
    padding: 6px 8px;
    background-color: var(--featured-color);
    color: var(--color-white);
    border-radius: 12px;
    margin-left: 8px;
    font-size: 11px;
}

.content-center h2 {
    margin: 0;
    padding: 0;
    margin: 15px 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.content-center h2:hover {
    color: var(--global-color);
}

.content-bottom {
    height: 24px;
    margin-top: 15px;
}

.content-bottom a:not(:first-child) {
    margin-left: 32px;
    font-size: var(--global-font-size);
    color: var(--back-color);
}

.content-bottom a {
    font-size: var(--global-font-size);
    color: var(--back-color);
}

.content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.content-right a {
    color: var(--global-color);
    background-color: #EBF2F2;
    padding: 4px 8px;
    border-radius: var(--global-border-radius);
    margin-left: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.content-right a:hover {
    background-color: var(--global-color);
    color: var(--color-white);
}